{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action":  [ "sts:AssumeRole", "eks:*", "sts:AssumeRoleWithWebIdentity", "logs:*" ],
      "Resource": ["${cluster_arn}" ]
    }
  ]
}