lb_ingress_ip = "YOUR_PUBLIC_IP"
vpc_id = "YOUR_AWS_VPC_ID"
consul_acl_token = "YOUR_CONSUL_ACL_TOKEN"
consul_gossip_key = "YOUR_CONSUL_GOSSIP_KEY"
consul_client_ca = 
private_subnets_ids =
public_subnets_ids =
aws_region     = "us-east-1"
name = "learn-hcp"