lb_ingress_ip = "YOUR_PUBLIC_IP"
vpc_id = "YOUR_AWS_VPC_ID"
consul_acl_token = "YOUR_CONSUL_ACL_TOKEN"
consul_gossip_key = "YOUR_CONSUL_GOSSIP_KEY"
consul_client_ca_path = "./consul-agent-ca.pem"
consul_cluster_ip = "YOUR_CONSUL_CLUSTER_IP"
private_subnets_ids = "YOUR_PRIVATE_SUBNET_IDS"
public_subnets_ids = "YOUR_PUBLIC_SUBNET_IDS"
aws_region = "us-east-1"
name = "learn-hcp"